* {
    padding: 0;
    margin: 0;
}

body {
    background-color: aliceblue;
}

.alert {
    border-radius: 10px;
}

.container.character {
    padding: 20px;
    border-radius: 10px;
    background-color: #b1d7ffba;
}

.container.character-outline {
    font-size: 175px;
    font-weight: lighter;
    display: flex;
    margin: 0px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 10px;
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
}

.container.character-outline svg {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    /* background-color: aliceblue; */
}

.text {
    fill: none;
    stroke-width: 1;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 0 300;
    stroke-dashoffset: 0;
    box-shadow:    0px 0px 20px rgba(255, 255, 255, 0.66)

}

.text:nth-child(4n + 1) {
    stroke: rgb(39, 135, 238);
    animation: character1-line1 5s infinite forwards;
}
.text:nth-child(4n + 2) {
    stroke: rgb(249, 189, 56);
    animation: character1-line2 5s infinite forwards;
}
.text:nth-child(4n + 3) {
    stroke: rgb(235, 61, 50);
    animation: character1-line3 5s infinite forwards;
}
.text:nth-child(4n + 4) {
    stroke: rgb(47, 169, 92);
    animation: character1-line4 5s infinite forwards;
}

@keyframes character1-line1 {
    100% {
        stroke-dashoffset: 1000;
        stroke-dasharray: 100 300;
    }
}
@keyframes character1-line2 {
    100% {
        stroke-dashoffset: 1100;
        stroke-dasharray: 100 300;
    }
}
@keyframes character1-line3 {
    100% {
        stroke-dashoffset: 1200;
        stroke-dasharray: 100 300;
    }
}
@keyframes character1-line4 {
    100% {
        stroke-dashoffset: 1300;
        stroke-dasharray: 100 300;
    }
}

.container.character-svg {
    font-size: 120px;
    font-weight: lighter;
    display: flex;
    margin: 0px;
    margin-bottom: 10px;
    padding: 30px;
    text-transform: uppercase;
    letter-spacing: 10px;
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
}

.container.character-svg svg {
    /* position: relative; */
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    /* padding: 100px; */
    margin: 0px;
}

.svg-text-line {
    fill: none;
    stroke-width: 5;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 0 1000;
    stroke-dashoffset: 0;
    position: absolute;
    left: 0px;
    transform: translate(-40px, -40px);
    /* scale(0.8); */
}

.svg-text-line:nth-child(4n + 1) {
    stroke: rgb(39, 135, 238);
    animation: character2-svg-line1 7s infinite forwards;
}
.svg-text-line:nth-child(4n + 2) {
    stroke: rgb(249, 189, 56);
    animation: character2-svg-line2 7s infinite forwards;
}
.svg-text-line:nth-child(4n + 3) {
    stroke: rgb(235, 61, 50);
    animation: character2-svg-line3 7s infinite forwards;
}
.svg-text-line:nth-child(4n + 4) {
    stroke: rgb(47, 169, 92);
    animation: character2-svg-line4 7s infinite forwards;
}

@keyframes character2-svg-line1 {
    0% {
        fill: aliceblue;
        fill-opacity: 0;
    }
    50% {
        fill: aliceblue;
        fill-opacity: 0;
    }
    100% {
        stroke-dashoffset: 1000;
        stroke-dasharray: 200 300;
        /* stroke: aliceblue; */
        fill: aliceblue;
        stroke-width: 0px;
    }
}
@keyframes character2-svg-line2 {
    0% {
        fill: aliceblue;
        fill-opacity: 0;
    }
    50% {
        fill: aliceblue;
        fill-opacity: 0;
    }

    100% {
        stroke-dashoffset: 1200;
        stroke-dasharray: 200 300;
        /* stroke: aliceblue; */
        fill: aliceblue;
        stroke-width: 0px;
    }
}
@keyframes character2-svg-line3 {
    0% {
        fill: aliceblue;
        fill-opacity: 0;
    }
    50% {
        fill: aliceblue;
        fill-opacity: 0;
    }

    100% {
        stroke-dashoffset: 1400;
        stroke-dasharray: 200 300;
        /* stroke: aliceblue; */
        fill: aliceblue;
        stroke-width: 0px;
    }
}
@keyframes character2-svg-line4 {
    0% {
        fill: aliceblue;
        fill-opacity: 0;
    }
    50% {
        fill: aliceblue;
        fill-opacity: 0;
    }

    100% {
        stroke-dashoffset: 1600;
        stroke-dasharray: 200 300;
        /* stroke: aliceblue; */
        fill: aliceblue;
        stroke-width: 0px;
    }
}
@keyframes character2-svg-fullline {
    100% {
        stroke-dashoffset: 1800;
        stroke-dasharray: 1000 0;
    }
}

.container.character-spotlight {
    font-size: 120px;
    font-weight: lighter;
    display: flex;
    margin: 0px;
    margin-bottom: 10px;
    padding: 30px;
    text-transform: uppercase;
    letter-spacing: 10px;
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
}

.container.character-spotlight svg {
    /* position: relative; */
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    /* padding: 100px; */
    margin: 0px;
}

#logo-spotlight {
    fill: #333;
}

.svg-spotlight-light {
    transform: translate(-33px, -11px);
    /* fill: none; */
    fill: aliceblue;
    animation: character3-spotlight 6s infinite 0s;
}

@keyframes character3-spotlight {
    0% {
        -webkit-clip-path: ellipse(100px 100px at 0% 50%);
        clip-path: ellipse(100px 100px at 0% 50%);
        fill: none;
    }
    30% {
        -webkit-clip-path: ellipse(100px 100px at 0% 50%);
        clip-path: ellipse(100px 100px at 0% 50%);
        fill: aliceblue;
    }
    50% {
        -webkit-clip-path: ellipse(100px 100px at 87% 50%);
        clip-path: ellipse(100px 100px at 86% 50%);
    }
    70% {
        -webkit-clip-path: ellipse(100px 100px at 50% 50%);
        clip-path: ellipse(100px 100px at 50% 50%);
    }
    100% {
        -webkit-clip-path: ellipse(1000px 1000px at 50% 50%);
        clip-path: ellipse(1000px 1000px at 50% 50%);
    }
}

.container.character-spotlight-neon {
    font-size: 120px;
    font-weight: lighter;
    display: flex;
    margin: 0px;
    margin-bottom: 10px;
    padding: 30px;
    text-transform: uppercase;
    letter-spacing: 10px;
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
}

.container.character-spotlight-neon svg {
    /* position: relative; */
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    /* padding: 100px; */
    margin: 0px;
}

#logo-spotlight-neon {
    fill: #333;
}

.svg-spotlight-neon-light {
    transform: translate(-33px, -11px);
    fill: none;
    /* fill: aliceblue; */
    /* animation: character4-spotlight 6s infinite 0s; */
    /* animation: character4-neon 6s infinite 0s; */

}
.svg-spotlight-neon-light:nth-child(2n) {
    transform: translate(-33px, -11px);
    /* fill: none; */
    fill: aliceblue;
    animation: character4-spotlight 6s infinite 0s;
}

.svg-spotlight-neon-light:nth-child(2n+2) {
    transform: translate(-33px, -11px);
    /* fill: #333; */
    /* animation: character4-neon 6s infinite 0s; */
}

@keyframes character4-spotlight {
    0% {
        -webkit-clip-path: ellipse(100px 100px at 0% 50%);
        clip-path: ellipse(100px 100px at 0% 50%);
        fill: none;
    }
    30% {
        -webkit-clip-path: ellipse(100px 100px at 0% 50%);
        clip-path: ellipse(100px 100px at 0% 50%);
        fill: aliceblue;
    }
    50% {
        -webkit-clip-path: ellipse(100px 100px at 87% 50%);
        clip-path: ellipse(100px 100px at 86% 50%);
    }
    70% {
        -webkit-clip-path: ellipse(100px 100px at 50% 50%);
        clip-path: ellipse(100px 100px at 50% 50%);
    }
    100% {
        -webkit-clip-path: ellipse(1000px 1000px at 50% 50%);
        clip-path: ellipse(1000px 1000px at 50% 50%);
    }
}

@keyframes character4-neon {
    /* 0% {
    }
    10% {
    }
    20% {
    }
    30% {
    } */
    100% {
        fill: aqua;
        box-shadow: 0 0 10px #fff,
                    0 0 20px #fff,
                    0 0 40px #fff,
                    0 0 80px #fff,
                    0 0 160px #fff;
    }
}
