body {
    background-color: aliceblue;
}

.alert {
	border-radius: 10px;
}

.container.project.subproject {
	padding: 20px;
	border-radius: 10px;
	background-color: #1c344dba;
}


@keyframes subproject-animation-function {
    from {

    }

    to {

    }
}
